<section class="home__section__destacados home_sec_margin">
  <h2 class="home__title">Productos destacados</h2>
  <div class="home__section__destacados__products__container">
    <% productsByFeatured.forEach(product => { %>

    <article class="product__card">
      <a href="/productos/detalle/<%= product.id %> ">
        <div class="product__card__img_container">
          <img
            src="/images/products/<%= product.images[0].filename %>"
            alt="<%= product.nombre %>"
          />
        </div>
      </a>
      <div class="product__card__info">
        <h4><%= product.nombre %></h4>
        <p><%= formatPrice(product.precio)  %></p>
      </div>
    </article>
    <% }) %>

    <i class="fa-solid fa-circle-arrow-left"></i>
    <i class="fa-solid fa-circle-arrow-right"></i>
  </div>
  <ul class="slider__puntos">
    <li class="slider__punto activo"></li>
    <li class="slider__punto"></li>
    <li class="slider__punto"></li>
  </ul>
</section>
