<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

    <body>
        <!-- ----------Inicio de header----------- -->
        <%- include('../partials/header') %>
            <!-- ----------Fin de header----------- -->
            <!-- ----------Inicio de main----------- -->
            <main class="login__main">
                <section class="login__main__container">
                    <h1>EDITAR PRODUCTO</h1>
                    <div class="register__main__container__text">
                        <a href="/admin/products">Ir al Panel de Administración</a>
                    </div><br>
                    <form action="/admin/update/<%= producto.id %>?_method=PUT" method="POST">
                        
                            <label for="<%= producto.nombre %>"></label>
                            <input type="text" name="nombre" value="<%= producto.nombre %>">                 
                       

                        
                            <label for="<%= producto.sub_titulo %> "></label>
                            <input type="text" name="sub_titulo" value="<%= producto.sub_titulo%>">                 
                       

                        
                            <label for="<%= producto.slug %> "></label>
                            <input type="text" name="slug" value="<%= producto.slug %>">                 
                        

                        
                            <label for="<%= producto.categoria %>"></label>
                            <input type="text"  name="categoria" value="<%= producto.categoria %>">                 
                        
                      
                    
                        <label for="<%= producto.stock %>"></label>
                        <input type="number" name="stock" value="<%= producto.stock %>"/>
                    

                    
                        <label for="<%= producto.destacado %>"></label>
                        <input type="text"  name="destacado" value="<%= producto.destacado %>"/>
                    
                        
                   
                        <label for="<%= producto.descripcion %>" class="login_register_edit_descripcion"></label>
                        <input type="textarea" id="descripcion" name="descripcion" value="<%= producto.descripcion %>"/>
                    
                        
                   
                        <label for="<%= producto.descripcion_altura %>"></label>
                        <input type="texarea" name="descripcion_altura"  value="<%= producto.descripcion_altura %>"/>
                    
                 
                     
                        <label for="<%= producto.descripcion_maceta %>"></label>
                        <input type="texarea"  name="descripcion_maceta" value="<%= producto.descripcion_maceta %>"/>
                          

                       
                            <label for="<%= producto.precio %>"></label>
                        <input type="number" name="precio" value="<%= producto.precio %>" />
                       

                      
                        <label for="<%= producto.cuidados %>"></label>
                        <input type="text" name="cuidados" value="<%= producto.cuidados %>"/>
                      
                        
                      
                        <label for="<%= producto.agua %>"></label>
                        <input type="number" name="agua" value="<%= producto.agua %>"/>
                      

                       
                        <label for="<%= producto.luz %>"></label>
                        <input type="number" name="luz" value="<%= producto.luz %>"/>
                      
                        <label for="">Cargar imagen del producto</label>
                        <input type="file" name="imagen" />
                        <button class="registrarse__button" type="submit">EDITAR</button>
                                            
                    </form>
                </section>
            </main>
            <!-- ----------Fin de main----------- -->
            <!-- ----------Inicio de footer----------- -->
            <%- include('../partials/miniFooter') %>
            <!-- ----------Fin de footer----------- -->
    </body>

</html>