<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body class="admin__dashboard">
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/sidebar') %>
    <!-- ----------Fin de header----------- -->
    <!-- ----------Inicio de main----------- -->
    <section class="home-section">
      <%- include('../partials/navbarAdmin') %>

      <table class="responsive-table">
        <div class="admin__products__header">
          <h2>Lista de productos</h2>
          <a href="/admin/products/create_product"
            ><button class="btn__crear">
              <i class="bx bx-message-square-add"></i> Agregar Producto
            </button></a
          >
        </div>

        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% productos.forEach(producto => { %>

          <tr>
            <td data-title="Id"><%= producto.id %></td>
            <th scope="row">
              <img width="60" src="<%= producto.images[0].filename %>" alt="" />
            </th>
            <th scope="row"><%= producto.nombre %></th>
            <td data-title="Stock"><%= producto.stock %></td>
            <td data-title="Precio">$<%= producto.precio %></td>
            <td data-title="Categoria"><%= producto.category.name %></td>
            <td data-title="Descripcion"><%= producto.descripcion %></td>
            <td data-title="Acciones">
              <a href="/admin/products/edit_product/<%= producto.id %>"
                ><button class="btn__editar">
                  <i class="bx bx-edit"></i> Editar
                </button></a
              >

              <form
                action="/admin/products/delete_product/<%= producto.id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit" class="btn__borrar">
                  <i class="bx bx-trash"></i>Borrar
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <div id="data-container"></div>
      <div id="pagination-container"></div>
    </section>
    <!-- ----------Fin de main----------- -->
   
  </body>
</html>
