<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body class="admin__dashboard">
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/sidebar') %>
    <!-- ----------Fin de header----------- -->
    <!-- ----------Inicio de main----------- -->
    <section class="home-section">
      <%- include('../partials/navbarAdmin', {user:user}) %>

      <table class="responsive-table">
        <div class="admin__products__header">
          <h2>Lista de usuarios</h2>
          <a href="/admin/users/create_user"
            ><button class="btn__crear">
              <i class="bx bx-message-square-add"></i> Agregar Usuario
            </button></a
          >
        </div>

        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% users.forEach(user => { %>

          <tr>
            <td data-title="Id"><%= user.id %></td>
            <td scope="row">
              <img width="50" height="50" src="/images/avatars/<%= user.image[0] %>" alt="" style="border-radius: 50% ;" />
            </td>
            <td data-title="name"><%= user.name %></td>
            <td data-title="lastname"><%= user.lastname %></td>
            <td data-title="email"><%= user.email %></td>
            <td data-title="rol"><%= user.rol %></td>
            <td data-title="Descripcion"><%= user.city %></td>
            <td data-title="Acciones">
              <a href="/admin/users/edit_user/<%= user.id %>"
                ><button class="btn__editar">
                  <i class="bx bx-edit"></i> Editar
                </button></a
              >

              <form
                action="/admin/users/delete_user/<%= user.id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit" class="btn__borrar">
                  <i class="bx bx-trash"></i>Borrar
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <div id="data-container"></div>
      <div id="pagination-container"></div>
    </section>
    <!-- ----------Fin de main----------- -->
   
  </body>
</html>
