<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body>
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/header') %>
    <!-- ----------Fin de header----------- -->
    <!-- ----------Inicio de main----------- -->
    <main class="profile__main ">
        <section class="profile__section ">
          <h2 id="profile_title" class="home__title">Mi perfil</h2>
        <div class="profile__main__container">
            <article class="profile__menu__left">
                <h3>MENU</h3>
                <ul>
                    <li >
                        <a href="/usuario/perfil/<%= user.id %>" class="menu_profile"><i class='bx bx-list-ul' ></i> Mis datos</a>
                    </li>
                    <li>
                        <a href="/#" class="menu_profile"><i class='bx bx-shopping-bag' ></i></i> Mis pedidos</a>
                    </li>
                    <li>
                        <a href="/usuario/perfil/<%= user.id %>/direccion" class="menu_profile  active"><i class='bx bx-home' ></i></i> Mi dirección</a>
                    </li>
                    <li>
                        <a href="/#" class="menu_profile"><i class='bx bx-exit'></i> Cerrar sesión</a>
                    </li>
                </ul>
            </article>
            <article class="profile__main__right">
                <h3>MI DIRECCION</h3>
                <div class="profile__main__right__info">
                    <h4>Dirección de envío</h4>
                    <p><%= user.name %> <%= user.lastname %></p>
                    <p>Documento: <%= user.dni %></p>
                    <p>Tel: <%= user.phone %></p>
                    <p><%= user.address %></p>
                    <p><%= user.city %>, <%= user.state %>, <%= user.cp %></p>
                    <div class="profile__main__right__action">
                        <a href="/usuario/perfil/<%= user.id %>/cambiar_direccion"><i class='bx bx-edit' ></i>Editar</a>
                       
                    </div>
                </div>
            </article>

        </div>
      </section>
    </main>
    <!-- ----------Fin de main----------- -->
    <!-- ----------Inicio de footer----------- -->
    <%- include('../partials/footer') %>
    <!-- ----------Fin de footer----------- -->
  </body>
</html>
