<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body>
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/header') %>
    <!-- ----------Fin de header----------- -->
    <!-- ----------Inicio de main----------- -->
    <main class="profile__main ">
        <section class="profile__section ">
          <h2 id="profile_title" class="home__title">Mi perfil</h2>
        <div class="profile__main__container">
            <article class="profile__menu__left">
                <h3>MENU</h3>
                <ul>
                    <li >
                        <a href="/usuario/perfil/1" class="menu_profile active"><i class='bx bx-list-ul' ></i> Mis datos</a>
                    </li>
                    <li>
                        <a href="/#" class="menu_profile"><i class='bx bx-shopping-bag' ></i></i> Mis pedidos</a>
                    </li>
                    <li>
                        <a href="/usuario/perfil/1/direccion" class="menu_profile"><i class='bx bx-home' ></i></i> Mi dirección</a>
                    </li>
                    <li>
                        <a href="/#" class="menu_profile"><i class='bx bx-exit'></i> Cerrar sesión</a>
                    </li>
                </ul>
            </article>
            <article class="profile__main__right">
                <h3>Cambiar contraseña</h3>
                <div class="profile__main__right__info__rename">
                    <form action="" method="POST">
                        <h4>Ingresa tu nueva contraseña</h4>
                    <div class="input__profile">
                        <input type="password" name="password_old" placeholder="Ingresa constreña actual">
                        <p class="form__error"><%= locals.errors && errors.password_old ? errors.password_old.msg : null%></p>
                    </div>
                    <div class="input__profile">
                        <input type="password" name="password" placeholder="Ingresa tu nueva constrseña">
                        <p class="form__error"><%= locals.errors && errors.password ? errors.password.msg : null%></p>
                    </div>
                    <div class="input__profile">
                        <input type="password" name="password2" placeholder="Repite tu nueva constreseña">
                        <p class="form__error"><%= locals.errors && errors.password2 ? errors.password2.msg : null%></p>
                    </div>
                    
                    <button class="registrarse__button profile__btn" type="submit">Cambiar</button>
                </form>
                </div>
            </article>

        </div>
      </section>
    </main>
    <!-- ----------Fin de main----------- -->
    <!-- ----------Inicio de footer----------- -->
    <%- include('../partials/footer') %>
    <!-- ----------Fin de footer----------- -->
  </body>
</html>
