<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body>
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/header') %>
    <!-- ----------Fin de header----------- -->
    <!-- ----------Inicio de main----------- -->
    <main class="login__main">
      <section class="login__main__container">
        <h1>INGRESA</h1>
        <div class="login__main__container__text">
          <p>¿No estás registrado?</p>
          <a href="/usuario/register">Registrarse</a>
        </div>

        <form action="/usuario/login"
        method="POST" 
        novalidate
        id="login_form">

          <div class="form__field">
            <label for="">Email</label>
            <input 
            type="email"
            id="login_email" 
            name="email" 
            value="<%= locals.old && old.email ? old.email : null %>"
            />
            <p class="form__error">
              <%= locals.errors && errors.email ? errors.email.msg : null %>
            </p>
            <p 
            id="errorEmail">
            </p>
          </div>

          <div class="form__field">
            <label for="login_password">Contraseña</label>
            <input 
            type="password" 
            id= "login_password"
            name="password" 
              />
            <p class="form__error">
              <%= locals.errors && errors.password ? errors.password.msg : null
              %>
            </p>
            <p 
            id = "errorPassword"
            value="<%= locals.errors && errors.password ? errors.password.msg : null
            %>"
            style=" 
            color: red;
            font-size: 12px;
            margin-top: -15px;
            text-align: center;
            "></p>
          </div>

          <div class="login_main_recordarme">
            <div class="login_main_recordarchecbox">
              <label for="">Recordarme</label>
              <input type="checkbox" name="remember" id="recordame" />
            </div>
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>

          <p id="errorForm" style="color: red"></p>

          <button class="registrarse__button" type="submit">Ingresar</button>
        </form>
        <p id="login__Google">O ingresa con</p>

        <a href="/auth/google" style=" display:block; width: 100%">
          <button class="google__button">
            <img src="/images/iconos/google.png" alt="icono google" /> Google
          </button>
        </a>
      </section>
    </main>
    <!-- ----------Fin de main----------- -->
    <!-- ----------Inicio de footer----------- -->
    <%- include('../partials/miniFooter') %>
    <!-- ----------Fin de footer----------- -->
    <script src="/js/users/login.js"></script>
  </body>
</html>