<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body>
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/header') %>
    <!-- ----------Fin de header----------- -->
    <!-- ----------Inicio de main----------- -->
    <main class="profile__main ">
        <section class="profile__section ">
          <h2 id="profile_title" class="home__title">Mi perfil</h2>
        <div class="profile__main__container">
            <%- include('../partials/menuProfile') %>
            <article class="profile__main__right">
                <h3>MIS DATOS</h3>
                <div class="profile__main__right__container">
                    <div class="profile__main__right__avatar">
                        <img src="/images/avatars/<%= user.image[0] %>" alt="avatar">
                       
                    </div>
                
                <div class="profile__main__right__info">
                    <h4>Información de Contacto</h4>
                    <p><%= user.name %>  <%= user.lastname %></p>
                    <p><%= user.email %></p>
                    <div class="profile__main__right__action">
                        <a href="/usuario/perfil/cambiar_nombre"><i class='bx bx-edit' ></i>Editar</a>
                        <a href="/usuario/perfil/cambiar_password"><i class='bx bx-edit' ></i>Cambiar contraseña</a>
                    </div>
                </div>
                
            </div>
            </article>

        </div>
      </section>
    </main>
    <!-- ----------Fin de main----------- -->
    <!-- ----------Inicio de footer----------- -->
    <%- include('../partials/footer') %>
    <!-- ----------Fin de footer----------- -->
  </body>
</html>
