<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body>
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/header') %>
    <!-- ----------Fin de header----------- -->
    <!-- ----------Inicio de main----------- -->
    <main class="register__main">
      <section class="register__main__container">
        <h1>REGÍSTRATE</h1>
        <div class="register__main__container__text">
          <p>¿Ya tienes un perfil personal?</p>
          <a href="/usuario/login">Iniciar Sesión</a>
        </div>
        <form action="/usuario/register" method="POST" novalidate>
          <div class="form__field">
            <label for="name">Nombre/s</label>
            <input type="text" id="name" name="name" value="<%= locals.old && old.name ? old.name : null %>"/>
            <p class="form__error"><%= locals.errors && errors.name ? errors.name.msg : null%></p>
          </div>

          <div class="form__field">
            <label for="lastname">Apellido</label>
            <input type="text" id="lastname" name="lastname" value="<%= locals.old && old.lastname ? old.lastname : null %>"/>
            <p class="form__error"><%= locals.errors && errors.lastname ? errors.lastname.msg : null%></p>
          </div>
          <div class="form__field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email : null %>"/>
            <p class="form__error"><%= locals.errors && errors.email ? errors.email.msg : null%></p>
          </div>
          <div class="form__field">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" />
            <p class="form__error"><%= locals.errors && errors.password ? errors.password.msg : null%>
          </div>
          <div class="form__field">
            <label for="password2">Repetir contraseña</label>
            <input type="password" id="password2" name="password2" />
           <p class="form__error"><%= locals.errors && errors.password2 ? errors.password2.msg : null%></p> 
          </div>
          <button class="registrarse__button" type="submit">Registrarse</button>
        </form>
        <p id="register__Google">O Regístrate con</p>
        <a href="/auth/google" style=" display:block; width: 100%">
          <button class="google__button">
            <img src="/images/iconos/google.png" alt="icono google" /> Google
          </button>
        </a>
      </section>
    </main>
    <!-- ----------Fin de main----------- -->
    <!-- ----------Inicio de footer----------- -->
    <%- include('../partials/miniFooter') %>
    <!-- ----------Fin de footer----------- -->
  </body>
</html>
