<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body">
   
    
    <!-- ----------Inicio de header----------- -->
    <%- include('../partials/header') %>

    <!-- ----------Fin de header----------- -->

    <!-- ----------Inicio de main----------- -->

    <main class="products__main__container">
      <section class="products__section__banner home_sec_margin">
        <div class="home__section__banner-bg-dark"></div>
        <h1 class="gs_reveal">TODO LO QUE CRECE EN NUESTRO VIVERO</h1>
        <p class="gs_reveal">Cuidamos las plantas desde el vivero a tu hogar</p>
      </section>
      <section class="products__section__products home_sec_margin">
        <h2 class="home__title capitalize">
          <% if (locals.categoria) { %> <%= categoria %> <% } else { %>
          "Nuestros productos" <% } %>
        </h2>

        <div class="products__section__grid">
          <% products.forEach(product => { %>
          <article class="product__card__container gs_reveal">
            <a href="/productos/detalle/<%= product.id %>">
              <div class="product__card__img">
                <img
                  class="product__card__img__1"
                  src="<%= product.images[0].filename %>"
                  alt="<%= product.nombre %>"
                />
                <% if (product.images[1]) { %>
                <img
                  class="product__card__img__2"
                  src="/<%= product.images[1].filename %> "
                  alt="<%= product.nombre %>"
                />

                <% }else{ %>
                <img
                  class="product__card__img__2"
                  src="<%= product.images[0].filename %> "
                  alt="<%= product.nombre %>"
                />

                <% } %>
              </div>
            </a>
            <div class="product__card__text">
              <p><%= product.nombre %></p>
              <p><%= formatPrice(product.precio) %></p>
            </div>
            <button class="product__card__btn">Agregar al carrito</button>
          </article>
          <% }) %>
        </div>
      </section>
    </main>

    <!-- ----------Fin de main----------- -->

    <!-- ----------Inicio de footer----------- -->
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    
    <!-- ----------Fin de footer----------- -->
  
  </body>
</html>
